<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
  <appSettings>
    <add key="MailServer" value="smtp.gmail.com" />
    <add key="MailUsername" value="sales@elitetravelguru.com" />
    <add key="MailPassword" value="Trumpet@67" />
    <add key="MailFrom" value="sales@elitetravelguru.com" />
    <add key="EnableErrorLogEmail" value="true" />
    <add key="ErrorLogEmail" value="tom@elitetravelguru.com"/>
    <add key="LeadsPerPage" value="6" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
   
    <authentication mode="Forms">
      <forms name="EliteTravelGuruLogin" loginUrl="Login.aspx" path="/" protection="All" timeout="60" />
    </authentication>
    <customErrors mode="Off" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>
  
  <connectionStrings>
    <add name="LeadsConnectionString" connectionString="Data Source=tcp:sql2k1201.discountasp.net;Initial Catalog=SQL2012_938493_leads;User ID=SQL2012_938493_leads_user;Password=Trumpet@67;" providerName="System.Data.SqlClient" />
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="Data Source=tcp:sql2k1201.discountasp.net;Initial Catalog=SQL2012_938493_leads;User ID=SQL2012_938493_leads_user;Password=Trumpet@67;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="EtgSqlMembershipProvider">
      <providers>
        <!--Add a customized SqlMembershipProvider -->
        <add name="EtgSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="LeadsConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="EliteTravel" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="EtgSqlRoleProvider" cacheRolesInCookie="true" createPersistentCookie="false" cookieProtection="All">
      <providers>
        <add name="EtgSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" applicationName="EliteTravel" connectionStringName="LeadsConnectionString" />
      </providers>
    </roleManager>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="sales@elitetravelguru.com">
        <network host="smtp.gmail.com" password="Trumpet@67" port="587" userName="sales@elitetravelguru.com" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="301 Redirect" stopProcessing="true">
                  <match url=".*" />
                  <conditions>
                    <add input="{HTTP_HOST}" negate="true" pattern="^www\.elitetravelguru\.com$" />
                  </conditions>
                  <action type="Redirect" url="http://www.elitetravelguru.com/{R:0}" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
      
    </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>